<!DOCTYPE html>
<html>
    <head>

        <!-- Site Basic Meta Info -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!-- Site Basic Name Info -->
        <title>{{meta.title}}</title>
        <meta name="author" content="{{meta.author}}">
        <meta name="description" content="{{meta.description}}">
        <meta name="keywords" content="{{meta.keywords}}">
        <meta name="image" content="dist/assets/cover.png">
        <link rel="canonical" href="{{meta.url}}" />

        <!-- App Manifest -->
        <link rel="manifest" href="dist/manifest.json">
        <meta name="theme-color" content="{{meta.color}}"/>
        
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{meta.title}}">
        <meta itemprop="description" content="{{meta.description}}">
        <meta itemprop="image" content="dist/assets/cover.png">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{meta.title}}">
        <meta name="twitter:description" content="{{meta.description}}">
        <meta name="twitter:image" content="dist/assets/cover.png">

        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="{{meta.title}}">
        <meta name="og:description" content="{{meta.description}}">
        <meta name="og:image" content="dist/assets/cover.png">
        <meta name="og:url" content="{{meta.url}}">
        <meta name="og:site_name" content="{{meta.title}}">
        <meta name="og:type" content="website">
        
        <!-- Fonts, Icons and Styles -->
        <link rel="shortcut icon" href="dist/icons/favicon.ico" type="image/vnd.microsoft.icon">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/docsify/lib/themes/vue.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="dist/voronoi-styles.css" type="text/css">

  </head>

  <body>
    
    <div id="vonoroi"></div>
    
    <div id="app"></div>

    <script>
      window.$docsify = {
        name: '{{meta.title}}',
        repo: '{{meta.repo}}',
        ga: '{{meta.ga}}',
        homepage: 'readme.md',
        coverpage: 'pages/cover.md',
        notFoundPage: 'pages/404.md',
        themeColor: '{{meta.color}}',
        auto2top: true,

        homepage: 'https://raw.githubusercontent.com/Lissy93/personal-security-checklist/master/readme.md',

        search: {
          maxAge: 86400000,
          paths: ['readme.md'],
          placeholder: 'Type to search',
          noData: 'No Results!',
        },

        plugins: [
          function (hook) {
            hook.ready(function () {
              Window.finishMdRender();
            })
          },
          function (hook) {
            var footer = [
              '<hr/>',
              '<footer>',
              '<span><a href="https://aliciasykes.com">Alicia Sykes</a> &copy;2018.</span>',
              '</footer>'
            ].join('')
            hook.afterEach(function (html) {
              return html + footer
            })
          }
        ]

        

      }
    </script>

   <!-- Docsify and Plugins -->
    <script src="https://unpkg.com/docsify/lib/docsify.min.js"></script>

    <script src="//unpkg.com/docsify-copy-code"></script>
    <script src="//unpkg.com/docsify/lib/plugins/ga.min.js"></script>
    <script src="//unpkg.com/docsify/lib/plugins/search.min.js"></script>
    <script src="//unpkg.com/docsify/lib/plugins/zoom-image.min.js"></script>

  
    <!-- JavaScripts (D3 and voronoi + website scripts) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="dist/voronoi-app.js"></script>
        
  </body>

  </html>